/* Heading of portfolio page */
h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
    text-align: center;
}
/* Body of portfolio page */
main {
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Footer styling */
footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2%;
}